* {
  margin: 0px;
  padding: 0px;
}

.header {
  top: 10px;
  background: white;
  display: flex;
  max-height: 70px;
  justify-content: right;
  position: sticky;
  z-index: 2;
  border-bottom: 2px solid red;
}

.header-text {
  display: inline;
  color: red;
  /* justify-content: right; */
  margin-left: 10px;
  margin-top: 15px;
  font-size: 22px;
}

.container {
  margin: auto;
  width: 400px;
  height: 60px;
  margin-right: 700px;
}

.form {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin-left: 420px;
  margin-right: -420px;
}
.search-field {
  width: 100%;
  padding: 10px 20px 10px 10px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  justify-content: center;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.left-icon {
  width: 20px;
  height: 20px;
  text-align: right;
  justify-content: right;
  flex-direction: row;
  padding: 25px;
  position: relative;
  right: -70px;
  top: -10px;
  background: transparent;
}

.left-icon:hover {
  position: relative;
  bottom: 12px;
}

.nav-link {
  font-size: 10px;
  font-weight: bold;
  color: black;
  padding: 10px 20px;

  text-decoration: none;

  position: relative;
  left: -135px;
  margin-top: 30px;
}

.welcome-section {
  /* border: 2px solid black; */
  min-height: 100vh;
  text-align: left;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 250px;
  margin-left: 150px;
}

.subtitle {
  font-weight: lighter;
  margin-left: 150px;
}

.person-image {
  text-align: right;
  justify-content: right;
  flex-direction: row;
  padding: 25px;
  position: relative;
  right: -900px;
  top: -250px;
  background: transparent;
}

.shop-now {
  background-color: rgb(160, 24, 24);
  color: white;
  position: relative;
  left: -490px;
  top: -440px;
  padding: 15px 30px;
  font-weight: lighter;
}
